In [3]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text
from sqlalchemy import create_engine, func
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import hvplot.pandas
# Create an engine
engine = create_engine('sqlite:///mydatabase.db')

# Read the CSV file into a DataFrame
df = pd.read_csv('Resources/cleaned_housing_market_data.csv')

# Load the DataFrame into the database
df.to_sql('table_name', con=engine, if_exists='replace', index=False)
Session = sessionmaker(bind=engine)
session = Session()

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [6]:
query_1 = 'SELECT * FROM table_name'

In [7]:
result = session.execute(text(query_1))

df_result= pd.DataFrame(result)
df_result.head()
#for row in result:
 #   print(row)

,Year,Month,County FIPS,County Name,Active Listing Count,Median Days on Market,New Listing Count,Median List Price Per Sqft,Median Sqft,Avg Listing Price,Total Listing Count
0,2024,10,18049,"fulton, in",45.0,54.0,14.0,146.0,2102.0,363246.0,61.0
1,2024,10,13027,"brooks, ga",25.0,60.0,4.0,139.0,1729.0,295232.0,26.0
2,2024,10,25027,"worcester, ma",1104.0,31.0,874.0,286.0,1985.0,635754.0,1361.0
3,2024,10,51183,"sussex, va",18.0,28.0,8.0,169.0,1764.0,379463.0,25.0
4,2024,10,53011,"clark, wa",1474.0,58.0,604.0,309.0,2225.0,847493.0,2292.0

In [9]:
df_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220766 entries, 0 to 220765
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Year                        220766 non-null  int64
 1   Month                       220766 non-null  int64
 2   County FIPS                 220766 non-null  int64
 3   County Name                 220766 non-null  object
 4   Active Listing Count        220766 non-null  float64
 5   Median Days on Market       220766 non-null  float64
 6   New Listing Count           220766 non-null  float64
 7   Median List Price Per Sqft  220766 non-null  float64
 8   Median Sqft                 220766 non-null  float64
 9   Avg Listing Price           220766 non-null  float64
 10  Total Listing Count         220766 non-null  float64
dtypes: float64(7), int64(3), object(1)
memory usage: 18.5+ MB

In [10]:
df['County FIPS'].value_counts()

County FIPS
24015    100
9007     100
48201    100
48479    100
51740    100
        ...
51600     10
40025     10
51690      7
31117      3
48261      2
Name: count, Length: 3139, dtype: int64