In [8]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text
# Create an engine
engine = create_engine('sqlite:///mydatabase.db')

# Read the CSV file into a DataFrame
df = pd.read_csv('Resources/cleaned_housing_market_data.csv')

# Load the DataFrame into the database
df.to_sql('table_name', con=engine, if_exists='replace', index=False)
Session = sessionmaker(bind=engine)
session = Session()

In [9]:
query_1 = 'SELECT * FROM table_name limit 5'

In [10]:
result = session.execute(text(query_1))
for row in result:
    print(row)

(202410, 25027, 'worcester, ma', 1104.0, 0.0755, 0.3826, 31.0, 0.0339, 0.22, 874.0, 20.0, 0.1111, 1.0, 462.0, 0.0087, 0.2692, 286.0, 0.0018, 0.0397, 1985.0, 0.0074, 0.0559, 635754.0, -0.0007, 0.0669, 1361.0, 0.0998, 0.3876)
(202410, 53011, 'clark, wa', 1474.0, -0.0277, 0.3475, 58.0, 0.0087, 0.2473, 604.0, 212.0, 0.1277, 2.0286, 794.0, 0.0206, 0.7039, 309.0, -0.0004, 0.0003, 2225.0, 0.0088, -0.004, 847493.0, 0.0022, 0.0098, 2292.0, -0.0182, 0.2906)
(202410, 48441, 'taylor, tx', 623.0, -0.0341, 0.1833, 67.0, 0.064, 0.2547, 160.0, 10.0, 0.25, 0.25, 178.0, -0.11, -0.101, 155.0, 0.018, -0.043, 1837.0, 0.02, -0.0227, 339294.0, 0.01, -0.0493, 850.0, -0.0308, 0.1534)
(202410, 39093, 'lorain, oh', 436.0, 0.0406, 0.1414, 42.0, 0.1067, 0.0184, 330.0, 6.0, 2.0, 0.5, 216.0, 0.0286, -0.0182, 154.0, -0.007, 0.1055, 1906.0, -0.0232, 0.0216, 370679.0, -0.0262, 0.1226, 820.0, 0.013, -0.0162)
(202410, 37157, 'rockingham, nc', 215.0, 0.0617, 0.2836, 45.0, -0.1557, 0.1474, 118.0, 0.0, -1.0, -1.0, 88.0, 0.2222, 0.2571, 133.0, -0.0383, -0.0909, 1549.0, 0.0787, -0.0501, 287399.0, -0.0038, 0.0029, 366.0, 0.064, 0.218)

In [11]:
results_df= pd.DataFrame(df)
results_df.head()

,Date YYYMM,County FIPS,County Name,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,Median Days on Market,Median Days on Market M/M,Median Days on Market Y/Y,New Listing Count,...,Median List Price Per Sqft Y/Y,Median Sqft,Median sqft M/M,Median Sqft Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y
0,202410,25027,"worcester, ma",1104.0,0.0755,0.3826,31.0,0.0339,0.2200,874.0,...,0.0397,1985.0,0.0074,0.0559,635754.0,-0.0007,0.0669,1361.0,0.0998,0.3876
1,202410,53011,"clark, wa",1474.0,-0.0277,0.3475,58.0,0.0087,0.2473,604.0,...,0.0003,2225.0,0.0088,-0.0040,847493.0,0.0022,0.0098,2292.0,-0.0182,0.2906
2,202410,48441,"taylor, tx",623.0,-0.0341,0.1833,67.0,0.0640,0.2547,160.0,...,-0.0430,1837.0,0.0200,-0.0227,339294.0,0.0100,-0.0493,850.0,-0.0308,0.1534
3,202410,39093,"lorain, oh",436.0,0.0406,0.1414,42.0,0.1067,0.0184,330.0,...,0.1055,1906.0,-0.0232,0.0216,370679.0,-0.0262,0.1226,820.0,0.0130,-0.0162
4,202410,37157,"rockingham, nc",215.0,0.0617,0.2836,45.0,-0.1557,0.1474,118.0,...,-0.0909,1549.0,0.0787,-0.0501,287399.0,-0.0038,0.0029,366.0,0.0640,0.2180

In [12]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55968 entries, 0 to 55967
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date YYYMM                      55968 non-null  int64
 1   County FIPS                     55968 non-null  int64
 2   County Name                     55968 non-null  object
 3   Active Listing Count            55968 non-null  float64
 4   Active Listing Count M/M        55968 non-null  float64
 5   Active Listing Count Y/Y        55968 non-null  float64
 6   Median Days on Market           55968 non-null  float64
 7   Median Days on Market M/M       55968 non-null  float64
 8   Median Days on Market Y/Y       55968 non-null  float64
 9   New Listing Count               55968 non-null  float64
 10  Price Increase Count            55968 non-null  float64
 11  Price Increase Count M/M        55968 non-null  float64
 12  Price Increase Count Y/Y        55968 non-null  float64
 13  Price Decrease Count            55968 non-null  float64
 14  Price Decrease Count M/M        55968 non-null  float64
 15  Price Decrease Count Y/Y        55968 non-null  float64
 16  Median List Price Per Sqft      55968 non-null  float64
 17  Median List Price Per Sqft M/M  55968 non-null  float64
 18  Median List Price Per Sqft Y/Y  55968 non-null  float64
 19  Median Sqft                     55968 non-null  float64
 20  Median sqft M/M                 55968 non-null  float64
 21  Median Sqft Y/Y                 55968 non-null  float64
 22  Avg Listing Price               55968 non-null  float64
 23  Avg Listing Price M/M           55968 non-null  float64
 24  Avg Listing Price Y/Y           55968 non-null  float64
 25  Total Listing Count             55968 non-null  float64
 26  Total Listing Count M/M         55968 non-null  float64
 27  Total Listing Count Y/Y         55968 non-null  float64
dtypes: float64(25), int64(2), object(1)
memory usage: 12.0+ MB